body {
    font-family: 'Gaegu', monospace!important;
}

section{
    background-color: #edf8fc;
    color: #50758c;
    padding: 20px;
    margin: 10px;
    border: 5px solid #9ad3ea;
    border-radius: 10px;
}

p {
    font-size: 20px;
}

.container {
    text-align: center;
    justify-content: center;
}

header{
    text-align: center;
}

.navbar{
    background-color: #fefade;
    padding: 20px;
    margin-left: 20px;
    margin-right: 20px;
    color:darkblue;
    border: 5px solid #f4e5b1;
    border-top: 0;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}

.main-page{
    margin: 20px;
}
.intro{
    padding-top: 40px;
    border: 0;
}

#intro-title{
    font-family: 'Gaegu', monospace;
    font-weight: 700;
}

#intro-greet{
    line-height: 0;
}

#intro-name{
    font-size: 6rem;
    line-height: 1;
}

.exp-card{
    background-color:cornsilk;
    color:peru;
    padding: 10px;
    margin: 5px;
    border: 8px solid burlywood;
    border-radius: 20px;
}

.about-cont {
    margin-left: 200px;
    margin-right: 200px;
}

#about-card {
    background-image: url('assets/about_card.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;

    height: 500px;
    width: 625px;

    font-family: 'Gaegu', monospace;
}

.about-img {
    text-align: right;
}

.about-text {
    font-family: 'Single Day', cursive;
}

.about-desc {
    padding-top: 150px;
    padding-left: 30px;
    padding-right: 30px;
}

.tool-img {
    aspect-ratio: 1;
    width: 50%;
}

.tool-row {
    padding-left: 0;
    padding-right: 0;
}