section{
    background-color: aliceblue;
    color:darkblue;
    padding: 20px;
    margin: 10px;
    border: 2px solid darkblue;
    border-radius: 5px;
}

.container {
    text-align: center;
    justify-content: center;
}

header{
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}

.navbar{
    background-color: aliceblue;
    padding: 20px;
    margin-left: 10px;
    margin-right: 10px;
    color:darkblue;
    font-family: 'Courier New', Courier, monospace;
    border: 2px solid darkblue;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}


.intro{
    border: 0;
}

#intro-title{
    font-family: 'Sour Gummy', monospace;
}

#about-card{
    background-image: url('assets/seal.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;

    /* width: 100%; */
}